{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block layout_class %}
  grid grid-cols-12 overflow-auto sm:h-screen
{% endblock layout_class %}
{% block layout %}
  <div class="hidden relative bg-linear-to-r from-primary to-accent lg:block lg:col-span-6"
       aria-hidden="true">
    <div class="absolute inset-0 flex items-center justify-center">
      <img src="{% static 'images/auth-hero.png' %}"
           class="object-cover"
           alt=""
           loading="lazy" />
    </div>
  </div>
  <section class="col-span-12 lg:col-span-6">
    <div class="flex flex-col items-stretch p-6 md:p-8 lg:p-16">
      <div class="w-full max-w-lg mx-auto">
        {% block head %}
          <div class="flex items-center justify-between">
            <a href="{% url 'account_login' %}"
               class="font-black text-4xl text-transparent bg-clip-text bg-linear-to-r from-primary to-accent">Sono</a>
            <c-brand.theme-toggle class="btn-outline border-base-300" />
          </div>
          <h1 class="mt-8 font-bold text-xl text-center md:mt-12 lg:mt-18">
            {% block head_title %}
            {% endblock head_title %}
          </h1>
          <p class="mt-6 text-sm text-base-content/70 text-center">
            {% block head_body %}
            {% endblock head_body %}
          </p>
        {% endblock head %}
        {% block content %}
          <div class="mt-6 md:mt-8">
            {% block content_body %}
              {% if form.non_field_errors %}<c-alert :messages="form.non_field_errors" class="mb-2" />{% endif %}
            {% endblock content_body %}
          </div>
        {% endblock content %}
      </div>
    </div>
  </section>
{% endblock layout %}
