{% extends "account/_base.html" %}

{% load i18n %}
{% load allauth %}
{% load account %}

{% block title %}
  {% trans "Sign in" %}
{% endblock title %}
{% block head_title %}
  {% trans "Enter sign-in code" %}
{% endblock head_title %}
{% block head_body %}
  {% if email %}
    {% blocktranslate trimmed with email=email %}
      We've sent a code to {{ email }}. The code expires shortly, so please enter it soon.
    {% endblocktranslate %}
  {% elif phone %}
    {% blocktranslate trimmed with phone=phone %}
      We've sent a code to {{ phone }}. The code expires shortly, so please enter it soon.
    {% endblocktranslate %}
  {% else %}
    {% blocktranslate trimmed %}
      We've sent you a code. The code expires shortly, so please enter it soon.
    {% endblocktranslate %}
  {% endif %}
{% endblock head_body %}
{% block content_body %}
  {{ block.super }}
  <form method="post"
        action="{% url 'account_confirm_login_code' %}"
        class="flex flex-col gap-6">
    {% csrf_token %}
    {{ redirect_field }}
    <div class="flex flex-col gap-1">
      <c-forms.input :field="verify_form.code" icon="lucide--hash" autocomplete="one-time-code" />
    </div>
    <button type="submit" class="btn btn-primary gap-2 w-full mt-2">
      <span class="iconify lucide--check size-4" aria-hidden="true"></span>
      {% trans "Confirm" %}
    </button>
  </form>
  {% if can_resend %}
    <form id="resend"
          method="post"
          action="{% url 'account_confirm_login_code' %}">
      <input type="hidden" name="action" value="resend" />
      {{ redirect_field }}
      {% csrf_token %}
      <button type="submit" class="btn btn-outline gap-2 w-full mt-4">
        <span class="iconify lucide--rotate-ccw size-4" aria-hidden="true"></span>
        {% trans "Request new code" %}
      </button>
    </form>
  {% endif %}
  {% if cancel_url %}
    <a href="{{ cancel_url }}"
       class="btn btn-ghost gap-2 w-full mt-4 border-base-300">
      <span class="iconify lucide--x size-4" aria-hidden="true"></span>
      {% trans "Cancel" %}
    </a>
  {% else %}
    <form id="logout-from-stage"
          method="post"
          action="{% url 'account_logout' %}">
      <input type="hidden" name="next" value="/" />
      {% csrf_token %}
      <button type="submit" class="btn btn-ghost gap-2 w-full mt-4 border-base-300">
        <span class="iconify lucide--log-in size-4" aria-hidden="true"></span>
        {% trans "Back to sign in" %}
      </button>
    </form>
  {% endif %}
{% endblock content_body %}
