{% extends "account/_base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Login" %}
{% endblock title %}
{% block head_title %}
  {% trans "Login" %}
{% endblock head_title %}
{% block head_body %}
  {% trans "Don't have an account?" %} <a href="{% url 'account_signup' %}"
    class="text-primary hover:underline">{% trans "Sign up" %}</a>
{% endblock head_body %}
{% block content_body %}
  {{ block.super }}
  <form method="post"
        action="{% url 'account_login' %}"
        class="flex flex-col gap-6">
    {% csrf_token %}
    {{ redirect_field }}
    <div class="flex flex-col gap-1">
      <c-forms.input :field="form.login" icon="lucide--mail" />
      <c-forms.password :field="form.password" icon="lucide--key-round" hide_help_text />
    </div>
    <div class="flex flex-wrap gap-4 items-center justify-between">
      {% if form.remember %}
        <c-forms.checkbox :field="form.remember" class="checkbox checkbox-sm" label_class="text-sm" />
      {% endif %}
      <a href="{% url 'account_reset_password' %}"
         class="text-sm text-primary sm:ms-auto hover:underline">{% trans "Forgot password?" %}</a>
    </div>
    <button type="submit" class="btn btn-primary gap-2 w-full">
      <span class="iconify lucide--log-in size-4"></span>
      {% trans "Login" %}
    </button>
  </form>
  {% if LOGIN_BY_CODE_ENABLED %}
    <div class="divider my-6">{% trans "or" %}</div>
    <a href="{% url 'account_request_login_code' %}"
       class="btn btn-outline gap-2 w-full">
      <span class="iconify lucide--mail size-5"></span>
      {% trans "Send me a sign-in code" %}
    </a>
  {% endif %}
{% endblock content_body %}
