{% extends "account/_base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Change password" %}
{% endblock title %}
{% block head_title %}
  {% trans "Password updated!" %}
{% endblock head_title %}
{% block head_body %}
  {% blocktranslate trimmed %}
    Your password has been changed successfully. You can now sign in with your new password.
  {% endblocktranslate %}
{% endblock head_body %}
{% block content_body %}
  <a href="{% url 'account_login' %}"
     class="btn btn-ghost gap-2 w-full border-base-300">
    <span class="iconify lucide--log-in size-4" aria-hidden="true"></span>
    {% trans "Sign in" %}
  </a>
{% endblock content_body %}
