{% load i18n %}
{% load static %}

<footer class="flex flex-wrap gap-x-8 gap-y-3 items-center justify-center px-6 py-4 text-sm text-base-content/80 text-center sm:justify-between">
  <span>© {% now "Y" %} Sono. {% trans "All rights reserved." %}</span>
  <div class="flex flex-wrap gap-1 items-center justify-center">
    <div class="flex gap-1 items-center">
      <span class="iconify lucide--github" aria-hidden="true"></span>
      <span>{% trans "Developed by" %}</span>
    </div>
    <div class="flex flex-wrap gap-1 items-center justify-center">
      <a href="https://github.com/DenPaz"
         class="font-bold text-transparent bg-clip-text bg-linear-to-r from-primary to-accent"
         target="_blank"
         rel="noopener noreferrer">DenPaz</a>
      &amp;
      <a href="https://github.com/alissonpef/alissonpef"
         class="font-bold text-transparent bg-clip-text bg-linear-to-r from-primary to-accent"
         target="_blank"
         rel="noopener noreferrer">AlissonPef</a>
    </div>
  </div>
</footer>
