{% load i18n %}
{% load static %}

{% get_current_language as current_language %}
{% get_available_languages as available_languages %}
{% get_language_info_list for available_languages as languages %}
<header id="layout-topbar"
        aria-label="{% trans 'Top bar' %}"
        class="flex items-center justify-between px-4"
        data-greeting-morning="{% trans 'Good morning' %}"
        data-greeting-afternoon="{% trans 'Good afternoon' %}"
        data-greeting-evening="{% trans 'Good evening' %}"
        x-data="topbarData()">
  <div class="inline-flex gap-3 items-center">
    <label for="layout-sidebar-toggle-trigger"
           class="btn btn-sm btn-ghost btn-square group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:hidden"
           aria-label="{% trans 'Toggle sidebar' %}">
      <span class="iconify lucide--menu size-5" aria-hidden="true"></span>
    </label>
    <label for="layout-sidebar-hover-trigger"
           class="btn btn-sm btn-ghost btn-square hidden group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:flex"
           aria-label="{% trans 'Toggle sidebar hover mode' %}">
      <span class="iconify lucide--menu size-5" aria-hidden="true"></span>
    </label>
    <div class="hidden flex-col sm:flex">
      <p class="font-medium leading-none md:text-lg">
        <span x-text="greeting"></span>, {{ user.first_name }}.
      </p>
    </div>
  </div>
  <div class="inline-flex gap-3 items-center">
    <c-brand.theme_toggle class="btn-sm btn-ghost" />
    <div class="dropdown dropdown-bottom dropdown-end">
      <button type="button"
              class="btn btn-sm btn-circle btn-ghost"
              tabindex="0"
              aria-label="{% trans 'Select language' %}">
        <img src="{% static 'images/locale/'|add:current_language|add:'.svg' %}"
             class="size-5.5 rounded-box object-cover"
             alt="{{ current_language|upper }}" />
      </button>
      <div class="dropdown-content mt-2 bg-base-100 rounded-box shadow-sm"
           tabindex="0">
        <ul class="menu w-full p-2"
            role="listbox"
            aria-label="{% trans 'Available languages' %}">
          {% for language in languages %}
            <li role="option"
                aria-selected="{% if language.code == current_language %}true{% else %}false{% endif %}">
              <form method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <input type="hidden" name="language" value="{{ language.code }}" />
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <button type="submit" class="flex gap-2 items-center w-25 cursor-pointer">
                  <img src="{% static 'images/locale/'|add:language.code|add:'.svg' %}"
                       class="size-4.5 rounded-box object-cover"
                       alt="{{ language.name_local }}" />
                  <span>{{ language.code|upper }}</span>
                  {% if language.code == current_language %}
                    <span class="iconify lucide--check size-4 ms-auto text-success"
                          aria-hidden="true"></span>
                  {% endif %}
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="h-7 border-base-300 border-e" aria-hidden="true"></div>
    <div class="dropdown dropdown-bottom dropdown-end">
      <button type="button"
              class="btn btn-sm btn-circle btn-ghost"
              tabindex="0"
              aria-label="{% trans 'User menu' %}">
        <div class="avatar overflow-hidden size-7 bg-base-200 rounded-box">
          <img src="{{ user.profile.get_avatar_url }}"
               alt="{{ user.get_full_name }}" />
        </div>
      </button>
      <div class="dropdown-content w-44 mt-2 bg-base-100 rounded-box shadow-sm"
           tabindex="0">
        <ul class="menu w-full p-2">
          {% if user.is_staff %}
            <li>
              <a href="{% url 'admin:index' %}">
                <span class="iconify lucide--shield size-4" aria-hidden="true"></span>
                <span>{% trans "Admin" %}</span>
              </a>
            </li>
          {% endif %}
          <li>
            <a href="#">
              <span class="iconify lucide--settings size-4" aria-hidden="true"></span>
              <span>{% trans "Settings" %}</span>
            </a>
          </li>
        </ul>
        <hr class="border-base-300" />
        <ul class="menu w-full p-2">
          <li>
            <button type="button"
                    class="text-error hover:bg-error/10"
                    onclick="document.getElementById('logout-modal').showModal()">
              <span class="iconify lucide--log-out size-4" aria-hidden="true"></span>
              <span>{% trans "Sign out" %}</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
