{% load i18n %}
{% load static %}

{% get_current_language as current_language %}
{% get_available_languages as languages %}
{% get_language_info_list for languages as language_info_list %}
<script>
  function topbarData() {
    return {
      get greeting() {
        const hour = new Date().getHours();
        if (hour < 12) return "{% trans 'Good morning' %}";
        if (hour < 18) return "{% trans 'Good afternoon' %}";
        return "{% trans 'Good evening' %}";
      },
    };
  }
</script>
<header id="layout-topbar"
        role="navigation"
        aria-label="{% trans 'Navigation bar' %}"
        class="flex items-center justify-between px-4"
        x-data="topbarData()">
  <div class="inline-flex gap-3 items-center">
    <label for="layout-sidebar-toggle-trigger"
           class="btn btn-sm btn-ghost btn-square group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:hidden"
           aria-label="{% trans 'Sidebar toggle' %}">
      <span class="iconify lucide--menu size-5"></span>
    </label>
    <label for="layout-sidebar-hover-trigger"
           class="btn btn-sm btn-ghost btn-square hidden group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:flex"
           aria-label="{% trans 'Sidebar hover toggle' %}">
      <span class="iconify lucide--menu size-5"></span>
    </label>
    <div class="hidden flex-col sm:flex">
      <p class="font-medium leading-none md:text-lg">
        <span x-text="greeting"></span>, {{ user.first_name }}.
      </p>
    </div>
  </div>
  <div class="inline-flex gap-3 items-center">
    <c-brand.theme_toggle class="btn-sm btn-ghost" />
    <div class="dropdown dropdown-bottom dropdown-end">
      <div class="btn btn-sm btn-circle btn-ghost" tabindex="0">
        <img src="https://flagcdn.com/{% if current_language == 'pt-br' %}br{% else %}us{% endif %}.svg"
             class="size-5.5 rounded-box object-cover"
             alt="{% trans 'Current language' %}" />
      </div>
      <div class="dropdown-content mt-2 bg-base-100 rounded-box shadow-sm"
           tabindex="0">
        <ul class="menu w-full p-2">
          {% for language in language_info_list %}
            <li>
              <form method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <input type="hidden" name="language" value="{{ language.code }}" />
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <button type="submit" class="flex gap-2 items-center w-25 cursor-pointer">
                  <img src="https://flagcdn.com/{% if language.code == 'pt-br' %}br{% else %}us{% endif %}.svg"
                       class="size-4.5 rounded-box object-cover"
                       alt="{{ language.name_local }}" />
                  <span>{{ language.code|upper }}</span>
                  {% if language.code == current_language %}
                    <span class="iconify lucide--check size-4 ms-auto text-success"></span>
                  {% endif %}
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="h-7 border-base-300 border-e"></div>
    <div class="dropdown dropdown-bottom dropdown-end">
      <div class="btn btn-sm btn-circle btn-ghost" tabindex="0">
        <div class="avatar overflow-hidden size-7 bg-base-200 rounded-box">
          <img src="{{ user.profile.get_avatar_url }}" alt="{% trans 'Avatar' %}" />
        </div>
      </div>
      <div class="dropdown-content w-44 mt-2 bg-base-100 rounded-box shadow-sm"
           tabindex="0">
        <ul class="menu w-full p-2">
          <li>
            <a href="#">
              <span class="iconify lucide--settings size-4"></span>
              <span>{% trans "Settings" %}</span>
            </a>
          </li>
        </ul>
        <hr class="border-base-300" />
        <ul class="menu w-full p-2">
          <li>
            <button type="button"
                    class="text-error hover:bg-error/10"
                    onclick="document.getElementById('logout-modal').showModal()">
              <span class="iconify lucide--log-out size-4"></span>
              <span>{% trans "Logout" %}</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
