{% load i18n %}

<c-vars :field="None"
        label=""
        help_text=""
        icon=""
        autocomplete="current-password"
        :hide_help_text="False"
        :required="True"
        :password_meter="False"
        class="input w-full focus:outline-0" />
<c-forms.fieldset :field="field" label="{{ label }}" help_text="{{ help_text }}" :hide_help_text="hide_help_text">
  <div {% if password_meter %}class="group"{% endif %}
       x-data="{ show: false }">
    <label class="{{ class }} {% if field.errors %}input-error{% endif %}">
      {% if icon %}<span class="iconify {{ icon }} text-base-content/80 size-5"></span>{% endif %}
      <input id="{{ field.id_for_label }}"
             name="{{ field.html_name }}"
             class="grow"
             :type="show ? 'text' : 'password'"
             {% if field.field.widget.attrs.placeholder %}placeholder="{{ field.field.widget.attrs.placeholder }}"{% endif %}
             autocomplete="{{ autocomplete }}"
             {% if password_meter %}data-password-meter{% endif %}
             {% if required %}required{% endif %} />
      <label class="btn btn-xs btn-circle btn-ghost swap text-base-content/60">
        <input type="checkbox"
               x-model="show"
               aria-label="{% trans 'Show password' %}" />
        <span class="iconify lucide--eye swap-off size-4"></span>
        <span class="iconify lucide--eye-off swap-on size-4"></span>
      </label>
    </label>
    {% if password_meter %}
      <div class="mt-2 flex gap-2">
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
          <div class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-data-pass-p20:scale-x-100">
          </div>
        </div>
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
          <div class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-data-pass-p40:scale-x-100">
          </div>
        </div>
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
          <div class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-data-pass-p60:scale-x-100">
          </div>
        </div>
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
          <div class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-data-pass-p80:scale-x-100">
          </div>
        </div>
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
          <div class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-data-pass-p100:scale-x-100">
          </div>
        </div>
      </div>
      <div class="mt-2 space-y-1">
        <div class="text-base-content/60 group-has-data-pass-r1:text-success flex items-center gap-2 text-sm transition-all duration-300">
          <span class="iconify lucide--check size-3.5" aria-hidden="true"></span>
          <span>{% trans "At least 8 characters" %}</span>
        </div>
        <div class="text-base-content/60 group-has-data-pass-r2:text-success flex items-center gap-2 text-sm transition-all duration-300">
          <span class="iconify lucide--check size-3.5" aria-hidden="true"></span>
          <span>{% trans "Not entirely numeric" %}</span>
        </div>
        <div class="text-base-content/60 group-has-data-pass-r3:text-success flex items-center gap-2 text-sm transition-all duration-300">
          <span class="iconify lucide--check size-3.5" aria-hidden="true"></span>
          <span>{% trans "At least one uppercase letter" %}</span>
        </div>
        <div class="text-base-content/60 group-has-data-pass-r4:text-success flex items-center gap-2 text-sm transition-all duration-300">
          <span class="iconify lucide--check size-3.5" aria-hidden="true"></span>
          <span>{% trans "At least one lowercase letter" %}</span>
        </div>
        <div class="text-base-content/60 group-has-data-pass-r5:text-success flex items-center gap-2 text-sm transition-all duration-300">
          <span class="iconify lucide--check size-3.5" aria-hidden="true"></span>
          <span>{% trans "At least one symbol" %}</span>
        </div>
      </div>
    {% endif %}
  </div>
</c-forms.fieldset>
