{% load i18n %}

<c-vars :field="None"
        label=""
        help_text=""
        icon=""
        autocomplete="current-password"
        :hide_help_text="False" />
<c-forms.fieldset :field="field" label="{{ label }}" help_text="{{ help_text }}" :hide_help_text="hide_help_text">
  <div x-data="{ show: false }">
    <label class="input w-full focus:outline-0 {% if field.errors %}input-error{% endif %}">
      {% if icon %}<span class="iconify {{ icon }} text-base-content/80 size-5"></span>{% endif %}
      <input id="{{ field.id_for_label }}"
             name="{{ field.html_name }}"
             class="grow focus:outline-0"
             :type="show ? 'text' : 'password'"
             {% if field.field.widget.attrs.placeholder %}placeholder="{{ field.field.widget.attrs.placeholder }}"{% endif %}
             autocomplete="{{ autocomplete }}" />
      <label class="btn btn-xs btn-circle btn-ghost swap text-base-content/60">
        <input type="checkbox"
               x-model="show"
               aria-label="{% trans 'Show password' %}" />
        <span class="iconify lucide--eye swap-off size-4"></span>
        <span class="iconify lucide--eye-off swap-on size-4"></span>
      </label>
    </label>
  </div>
</c-forms.fieldset>
