:root {
  --layout-sidebar-width: 256px;
  --layout-sidebar-collapsed-width: 76px;
}

/* == Layout: Sidebar == */
.sidebar-menu {
  .sidebar-brand-mini {
    @apply hidden;
  }

  .menu-label {
    @apply font-medium text-sm text-base-content/70;
  }

  .menu-item {
    @apply flex gap-2 items-center h-8 px-2.5 text-sm rounded-box;
  }

  a,
  .menu-item-link {
    @apply cursor-pointer;

    &.menu-item {
      @apply hover:bg-base-200;

      &.active {
        @apply font-medium bg-base-200;
      }
    }
  }

  .collapse {
    input {
      @apply min-h-8 p-0;
    }

    .collapse-title {
      @apply flex gap-2 items-center min-h-8 text-sm rounded-box peer-hover:bg-base-200;

      .arrow-icon {
        @apply opacity-60 transition-all;
      }

      &:is(:where(.peer):checked ~ *) {
        @apply font-medium;
        .arrow-icon {
          @apply opacity-100 rotate-90;
        }
      }
    }

    .collapse-content {
      &:before {
        @apply absolute inset-s-4 top-10 bottom-2 w-px bg-base-content/10;
        content: '';
      }
    }
  }
}

/* == Layout: Sidebar == */
#layout-sidebar {
  width: var(--layout-sidebar-width);
  min-width: var(--layout-sidebar-width);
  background: var(--layout-sidebar-background);
  max-height: 100vh;

  @apply relative top-0 bottom-0 z-10 flex flex-col transition-[margin,top,max-height,border-radius,width,min-width] duration-300;

  &.hide {
    margin-inline-start: calc(var(--layout-sidebar-width) * -1);
  }
}

/* == Layout: Topbar == */
#layout-topbar {
  background: var(--layout-topbar-background);
  @apply relative z-10 min-h-16 max-h-16 transition-[margin,border-radius] duration-300;
}

/* == Layout: Content == */
#layout-content {
  @apply grow p-6 transition-all;
}

/* == Sidebar: Desktop minimize == */
@media (min-width: theme(--breakpoint-lg)) {
  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar {
    width: var(--layout-sidebar-collapsed-width);
    min-width: var(--layout-sidebar-collapsed-width);
    margin-inline-start: 0;
  }

  #layout-sidebar .sidebar-brand-mini {
    @apply hidden;
  }

  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar .sidebar-brand {
    @apply justify-center w-full;
  }

  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar .sidebar-brand-full {
    @apply hidden;
  }

  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar .sidebar-brand-mini {
    @apply inline;
  }

  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar .menu-item {
    @apply justify-center px-2;
  }

  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar .menu-item > span:last-child {
    @apply hidden;
  }

  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar .custom-scrollbar {
    @apply overflow-x-hidden;
  }
}

/* == Layout: Monochrome Layer == */
#layout-monochrome-layer {
  @apply fixed inset-0 z-999999 opacity-0 backdrop-opacity-100 grayscale-100 transition-all duration-1000 pointer-events-none;
}

html[data-monochrome-enabled] #layout-monochrome-layer {
  @apply opacity-100;
}

/* == Sidebar: @media for small devices (phone, tablet), <= lg size == */
@media (max-width: theme(--breakpoint-lg)) {
  #layout-sidebar {
    @apply fixed z-500;
  }

  /* = Tweaks for hide on mobile device by default = */
  #layout-sidebar-toggle-trigger:not(:checked) ~ #layout-sidebar {
    margin-inline-start: calc(var(--layout-sidebar-width) * -1);
  }
  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar {
    margin-inline-start: 0;
  }
  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar-backdrop {
    @apply fixed inset-0 z-499 bg-base-content/5 transition-all;
  }
}

/* == Overrides: specific to material theme and non-material theme == */
html:not([data-theme='material'], [data-theme='material-dark']) {
  #layout-sidebar {
    @apply border-base-200 border-e;
  }

  #layout-topbar {
    @apply border-base-200 border-b;
  }
}

html[data-theme='material'],
html[data-theme='material-dark'] {
  #layout-sidebar {
    max-height: calc(100vh - 32px);
    @apply top-4 bottom-4 ms-4 rounded-box;
  }

  #layout-topbar {
    @apply relative mx-5 mt-4 rounded-box;
  }
}
