{% load i18n %}
{% load static %}
{% load django_vite %}
{% load django_htmx %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="group/html">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        {{ page_title|default:_("Welcome") }}
      {% endblock title %}
      | Sono
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sono App" />
    <meta name="author" content="Dennis Paz" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      {% include "partials/styles.html" %}
    {% endblock css %}
    {% block extra_css %}
    {% endblock extra_css %}
    {% vite_hmr_client %}
    {% htmx_script %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}"
        hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% block body %}
      <div class="{% block layout_class %}size-full{% endblock layout_class %}">
        {% block layout %}
          <div class="flex">
            {% block sidebar %}
              {% include "partials/sidebar.html" %}
            {% endblock sidebar %}
            <div class="overflow-auto grow flex flex-col min-w-0 h-screen">
              {% block header %}
                {% include "partials/header.html" %}
              {% endblock header %}
              <main id="layout-content">
                {% block content %}
                {% endblock content %}
              </main>
              {% block footer %}
                {% include "partials/footer.html" %}
              {% endblock footer %}
            </div>
          </div>
          {% block modals %}
          {% endblock modals %}
          {% block drawers %}
          {% endblock drawers %}
        {% endblock layout %}
      </div>
      {% block messages %}
        {% include "partials/toasts.html" %}
      {% endblock messages %}
      {% block js %}
        {% include "partials/scripts.html" %}
      {% endblock js %}
      {% block extra_js %}
      {% endblock extra_js %}
    {% endblock body %}
  </body>
</html>
