{% load i18n %}
{% load static %}
{% load django_vite %}
{% load django_htmx %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-theme="material">
  <head>
    <title>
      {% block title %}
        {{ page_title|default:_("Welcome") }}
      {% endblock title %}
      | Sono
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sono Project" />
    <meta name="author" content="Dennis Paz" />
    <link href="{% static 'images/favicons/favicon.ico' %}" rel="icon" />
    {% block css %}
      {% include "partials/styles.html" %}
    {% endblock css %}
    {% block extra_css %}
    {% endblock extra_css %}
    {% vite_hmr_client %}
    {% htmx_script %}
  </head>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% block body %}
      {% block main %}
        <div class="size-full">
          <div class="flex">
            {% block sidebar %}
              {% include "partials/sidebar.html" %}
            {% endblock sidebar %}
            <div class="flex h-screen min-w-0 grow flex-col overflow-auto">
              {% block header %}
                {% include "partials/header.html" %}
              {% endblock header %}
              <div class="grow p-6 transition-all">
                {% block content %}
                {% endblock content %}
              </div>
              {% block footer %}
                {% include "partials/footer.html" %}
              {% endblock footer %}
            </div>
          </div>
          {% block modals %}
          {% endblock modals %}
          {% block drawers %}
          {% endblock drawers %}
        </div>
      {% endblock main %}
      {% block js %}
        {% include "partials/scripts.html" %}
      {% endblock js %}
      {% block extra_js %}
      {% endblock extra_js %}
    {% endblock body %}
  </body>
</html>
