{% load i18n %}

<c-vars :messages="None"
        class=""
        severity="error"
        :dismissable="True"
        list_class="grow text-sm" />
{% if messages %}
  <div class="alert alert-{{ severity }} alert-soft {{ class }}"
       x-data="{ show: true }"
       x-show="show"
       x-transition>
    <ul class="{{ list_class }}">
      {% for message in messages %}<li>{{ message }}</li>{% endfor %}
    </ul>
    {% if dismissable %}
      <button type="button"
              class="btn btn-xs btn-circle btn-ghost self-start ms-auto shadow-lg hover:text-{{ severity }} hover:bg-transparent hover:border-{{ severity }}"
              @click="show = false"
              aria-label="{% trans 'Dismiss' %}">
        <span class="iconify lucide--x size-3"></span>
      </button>
    {% endif %}
  </div>
{% endif %}
